body {
     color: #fff;
     background-image: url('image.png');
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;     /* Tambahkan baris berikut */
}